*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: M4;
}

body{
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  background-color: #F1F1F1;
}

.container{
  max-width: 1296px;
  margin: 0 auto;
  width: 100%;
}